.heading {
    background-color : #000000;
    background-image : url("img/bg.jpeg");
    width : 100%;
    background-size : 100%;
    background-repeat : no-repeat;
    height : 100vh;
    overflow : auto;
}

.subheading {
    text-align : center;
    color : #ffffff;
    font-size : 2em;
}

.headingtext {
    text-align : center;
    margin-top : 5%;
    font-size : 8em;
    color : white;
}
 
.column1text {
    text-align : center;
    font-size : 2em;
}

.column2text {
    text-align : center;
    font-size : 2em;
}
