body {
background-color: #333538;
}

.title {
margin-top : 10%;
font-size : 3em;
text-align : center;
color : #44e72b;
font-family : Arial;
}

.subtitle {
margin-top : 1%;
font-size : 2em;
text-align : center;
color : #bf2d13;
font-family : Arial;
}

a {
text-decoration: none;
color : #bf2d13;
}

.returntext {
margin-top : 15%;
font-size : 2em;
text-align : center;
color : #1a5880;
font-family : Arial;
}

.subtext {
font-size : 20px;
text-align : center;
color : #1a5880;
font-family : Arial;
}
